<% provide :title, "#{@venture.name}の情報" %>
<div class="container text-left">
  <div class="user-show-page wow fadeInDown">
    <table class="table table-striped table-bordered">
      <tr>
        <td>
          <h3 class="text-center">
            <strong><%= "#{@venture.name}" %></strong>
            <small>
              <a href="/users/<%= @user.id %>">
                <%= "(#{@user.name}が作成)" %>
              </a>
            </small>
            <% if user_signed_in? %>
              <% if current_user.owned_venture(current_user) == @venture.id %>
                <br>
                <%= link_to "編集する",
                            edit_venture_path(@venture.id),
                            :class => "btn btn-primary form-actions" %>
              <% end %>
            <% end %>
          </h3>
          <hr>
          <a href="/ventures/<%= @venture.id %>">
            <%= image_tag(@venture.authenticated_vimage_url(:large),:class => "img-center hover_img") %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="color-orange"><strong>どんな事業ですか？</strong></h4>
          <p><%= simple_format(@venture.explain) %></p>
          <hr>
          <h4 class="color-orange"><strong>なぜ始めたのですか？</strong></h4>
          <p><%= simple_format(@venture.reason) %></p>
          <hr>
          <h4 class="color-orange"><strong>目指すビジョンはなんですか？</strong></h4>
          <p><%= simple_format(@venture.vision) %></p>
          <hr>
          <h4 class="color-orange"><strong>一緒にやりたい人を</strong></h4>
          <p><%= simple_format(@venture.job_offer) %></p>
        </td>
      </tr>
      <tr>
        <td>
          <h3><strong>最近の動向</strong></h3>
          <hr>
          <%= render @notifications %>
          <%= paginate @notifications %>
        </td>
      </tr>
    </table>
  </div>
</div>