<small>
<strong><%= notification.created_at.strftime("%y年%m月%d日%H時%M分") %> 更新</strong>
</small>
<p class="margin-0">
  <a href="/users/<%= notification.user_id %>">
    <% if notification.type_id == 1 %>
      <%= image_tag(User.find(notification.user_id).authenticated_image_url(:thumb), :height => 50, :style => "margin-right:20px") %>
    <% elsif notification.type_id == 2 || 3 %>
        <%= image_tag(Mentor.find(notification.mentor_id).authenticated_mimage_url(:thumb), :height => 50, :style => "margin-right:20px") %>
    <% else %>
      error
    <% end %>
  </a>
  <a href="/ventures/<%= notification.venture_id %>">
      <strong><%= notification.notify_message %></strong>
  </a>
</p>
<hr class="margin-0">