<% provide :title, "#{@user.name}の情報" %>
<div class="container text-left">
  <div class="user-show-page">
    <h4 class="form-label"><strong><%= @user.name %></strong></h4>
    <p class="form-label">
      <%= @user.belong %>所属：<%= @user.age %>才
    </p>
    <hr>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="text-center">
          <%= render 'users/user_info' %>
        </div>
        <br>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>自己紹介</strong></td>
          </tr>
          <tr>
            <td>
              <%= @user.self_intro %>
            </td>
          </tr>
        </table>
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>最近の動向</strong></td>
          </tr>
          <tr>
            <td>
              <%= render @notifications %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
  </div>
</div>