<% provide :title, "ようこそ！" %>
<% unless user_signed_in? %>
  <div class="container text-center">
    <% unless mentor_signed_in? %>

    <% ## ログインしていないユーザー %>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="main_page-explain-area">
            <%= render 'common/activity' %>
            <div class="text-left">
              <%= render 'common/mentor' %>
              <%= render 'common/community' %>
              <%= render 'common/media' %>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="main-page-latest-area text-left">
            <%= render 'common/latest' %>
            <%= render 'common/usersample' %>
          </div>
        </div>
      </div>

    <% else %>

    <% ## メンター -%>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="main_page-explain-area">
            <%= render 'common/activity' %>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="main-page-latest-area text-left">
            <%= render 'common/latest' %>
            <%= render 'common/usersample' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>

  <% ## ユーザー -%>

    <% unless current_user.full_profile? %>
      <p class="alert alert-danger margin-0">
        登録が完了すれば、グループの登録などが行えます。
        <%= link_to "登録する", edit_user_path(current_user.id),
                               :class => "btn btn-danger" %>
      </p>
      <hr>
    <% end %>
    <div class="container text-center">
    <br>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="main-page-latest-area text-left">
          <%= render 'common/mentoring' %>
          <%= render 'common/latest' %>
          <%= render 'common/usersample' %>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="main-page-mypage-area">
          <p class="alert alert-success">ユーザー情報</p>
          <%= render 'users/user_info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>