<% provide :title, "#{@mentor.name}の情報" %>
<div class="container text-left">
  <div class="user-show-page wow fadeIn">
    <h4 class="form-label"><strong><%= @mentor.name %></strong></h4>
    <p class="form-label">
      <%= @mentor.belong %>：<%= @mentor.age %>年生まれ
    </p>
    <hr>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <% if @mentor.m_image.present? %>
          <%= image_tag(@mentor.authenticated_mimage_url(:medium), :class => "img-center") %>
        <% else %>
          <%= image_tag 'Guest/unknown_user.png', :size => "200x200", :class => "img-center" %>
        <% end %>
        <% if mentor_signed_in? && current_mentor.id == @mentor.id %>
          <br>
          <%= link_to "編集する", edit_mentor_path(current_mentor.id), :class => "btn btn-primary img-center" %>
        <% end %>
        <br>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>自己紹介</strong></td>
          </tr>
          <tr>
            <td>
              <%= @mentor.self_intro %>
            </td>
          </tr>
        </table>
        <table class="table table-striped table-bordered">
          <tr>
            <td>最近の動向</td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <h4><strong>相談一覧</strong></h4>
    <hr>
    <%= render @messages %>
    <% if current_user.present? %>
      <% if current_user.register_venture? %>
        <% if current_user.owned_venture.messages.where(:mentor_id => @mentor.id).present? %>
        <% else %>
          <p class="margin-0">
            <a href="/users/<%= current_user.id %>">
              <%= image_tag(current_user.authenticated_image_url(:thumb),
                            :height => 50,
                            :style => "margin-right:20px;") %>
            </a>
            <strong class="balloon-left">
              <%= @mentor.name %>に、事業の相談をしてみよう！
            </strong>
          </p>
        <% end %>
        <br>
        <%= form_for @message do |f| %>
          <div class="row user_message_form">
            <div class="col-xl-10 col-lg-10 col-sm-10 col-xs-8">
              <%= f.text_area :content, cols:"15", rows:"2", autofocus:"true", class:"form-control", :placeholder => "投稿してみよう" %>
              <%= f.hidden_field :mentor_id, :value => @mentor.id %>
              <%= f.hidden_field :venture_id,
                                 :value => current_user.owned_venture.id %>
            </div>
            <div class="col-xl-1 col-lg-1 col-sm-1 col-xs-2">
              <%= f.submit "投稿する", :class => "btn btn-primary form-actions" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="margin-0">
            <a href="/users/<%= current_user.id %>">
              <% if current_user.full_profile? %>
                <%= image_tag(current_user.authenticated_image_url(:thumb),
                              :height => 50,
                              :style => "margin-right:20px;") %>
              <% else %>
                <%= image_tag "Guest/unknown_user.png",
                              :height => 50,
                              :style => "margin-right:20px;" %>
              <% end %>
            </a>
            <strong class="balloon-left">
              事業を登録すれば、メンターの相談ができます。
            </strong>
          </p>
      <% end %>
    <% end %>
  </div>
</div>